# =========================
# ENV
# =========================
.env
.env.*
*.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.env/
.venv/

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# MacOS
# =========================
.DS_Store

# =========================
# Vector DB / AI embeddings
# =========================
chroma/
faiss_index/
vector_store/

# =========================
# Build
# =========================
build/
dist/

# =========================
# Temporary files
# =========================
tmp/
temp/